.container {
    padding: 50px;

    img {
        width: 375px;
        height: 450px;
    }

    .text-green {
        color: #008000;
    }

    .btn {
        display: inline-block;
        padding: 0.375rem 0.75rem;
        font-size: 1rem;
        font-weight: 400;
        color: white;
        text-align: center;
        text-decoration: none;
        vertical-align: middle;
        cursor: pointer;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
        border: 3px solid transparent;
        border-radius: 9px;
        background-color: orange;
    }
    
    .btn:active {
        background-color: rgb(255, 193, 77);
    }
}